*{
    margin: opx;
    padding: opx;
}
header{
    /* border: 1px solid tomato; */
    background-image: url(../Assets/Hero-bg.png);
    padding: 0px 0px 200px 0px;
}
nav{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 154px;
    margin: 0px auto;
    align-items: center;
    
}
.session-1 {
    /* border: 1px solid blue; */
    text-align: center;
    max-width: 905px;
    height: 237px;
    margin: 157px auto 37px auto;
}
.session-1 h1{
    width: 905px;
    height: 152px;
    font-weight: bold;
    font-size: 32px;
}
.btn-2{
    width: 174px;
    height: 54px;
    padding: 12px 32px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    margin-bottom: 200px;
}
.btn-3{
    width: 229px;
    height: 54px;
    padding: 12px 32px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    margin-bottom: 200px;
}

.session-2 {
    /* border: 1px solid blue; */
    display: flex;
    max-width: 1140px;
    height: 328px;
    margin: 0px auto;
    justify-content: space-between;
    margin: 40px auto 35px auto;
}
nav h3{
    width: 105px;
    height: 54px;
    font-weight: Black;
    font-size: 36px;
    color: #4E47FF;
}
nav button{
  width: 132px;
  height: 54px; 
  padding: 12px 32px;
  font-weight: bold; 
  color: white;
  background-color: #4E47FF;
  border-radius: 10px;
  
}
.session-2 h1 {
    height: 49px;
    font-weight: bold;
    font-size: 42px;
}

.session-2 p {
    height: 60px;
    font-size: 24px;
    /* margin-top: 23px; */
}

.session-2 button {
    width: 229px;
    height: 48px;
    margin-top: 23px;
}

img {
    width: 403px;
    height: 328px;
    border-radius: 50px;
}

.users {

    width: 1140px;
    height: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;

    background-color: #c9c9ff;
    border-radius: 30px;

}

.users .rating {
    width: 800px;
    height: 100px;
    justify-content: space-around;
    display: flex;

}

.rating .ret h1 {
    font-size: 60px;
    font-weight: bold;
    color: blue;
}

.rating .ret p {
    font-size: 15px;
    color: black;
    margin-top: -30px;
    text-align: center;
}
.rev {
    width: 1140px;
    height: 243px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    align-items: center;
    gap: 50px;
}

.userr {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.userr .box {
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 24px;
    background-color: #f3eeee;
    border-radius: 20px;
}

.box .pp {
    width: 300px;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.pp img {
    width: 50px;
    height: 50px;
    border-radius: 45%;
}
.focaus {
    background-color: #f3eeee;
    width: 950px;
    height: 679px;
    display: flex;
    padding: 80px 60px 20px 60px;
    flex-direction: column;
    margin: 200px auto;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.contect {
    width: 1000px;
    height: 632px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 200px auto;
    border-radius: 30px;
    gap: 20px;
    justify-content: space-between;
}

.contect .cont {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 10px;
    width: 45%;

}

.footer {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    align-items: center;
}

.footer ul li a {
    text-decoration: none;
    font-size: 19px;
    color: rgb(114, 107, 107);

}

.footer ul li a:hover {
    color: blue;
    font-weight: bold;
    font-size: 20px;

}